* {
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

body {
  color: rgba(107, 104, 104, 0.901);
  background-color: wheat;
}

#profile {
  border-radius: 20px;
  background-color: aqua;
  border: solid white 5px;
  display: contents;
  margin: 120px 0;
}